<div class="row">
  <div class="col-12">
    <div class="CartContainer">
        <div class="row mt-4">
          <div class="col-6">
            Your Cart
          </div>
          <div class="col-6 text-end text-danger">
            Remove All
          </div>
        </div>
        <div class="row mt-4" *ngFor="let cart of cartProducts"> 
          <div class="col-2">
            <img class="img-fluid" style="width: 100px;" [src]="cart.productImageUrl" class="card-img-top">
          </div>
          <div class="col-4">
            {{cart.productName}}
          </div>
          <div class="col-3">
            {{cart.quantity + 1}}
          </div>
          <div class="col-3 text-end">
           <button class="btn btn-sm btn-danger" (click)="RemoveItem(cart.cartId)">Remove</button>
          </div>
        </div>
     
        <div class="row">
            <hr>
            
              <div class="col-8">
                <div class="Subtotal">Sub-Total</div>
              </div>
              <div class="col-4 text-end">
                <strong> ${{subtotal}}</strong>
              </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <button class="btn btn-lg btn-success w-100 " (click)="makeSale()">Make sale</button>
                </div>
            </div>
           
          </div>
    </div>
</div>